<!--The content below is only a placeholder and can be replaced.-->

<div id="container">
  <div id="main">
    <br>
    <div *ngIf="isUserAuthenticated;then content else other_content">here is ignored</div>
    <ng-template #content>
      <app-home></app-home>
    </ng-template>
    <ng-template #other_content>
      <app-login></app-login>
    </ng-template>
    <br>
  </div>
</div>
<footer id="footer">
  <div id="footerContent">
    <h4>Xplaces</h4>
    <br>
   <h6> Copyright 2018 © Dror Manzur</h6>
  </div>
</footer>
