<header>
  <h2>
    App users
  </h2>
</header>
<br>
<article>
  <section id="usersArea">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Favorites ids</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody *ngFor="let user of users; let index = index">
      <tr >
        <th scope="row">{{index+1}}</th>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>
          <img id="downImg" src="assets/images/down.png" data-toggle="collapse" data-target="#favorites">
        </td>
        <td>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteUserModal" (click)="userToDelete=user">
            Delete
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="10">
          <div id="favorites" *ngFor="let fav of user.favorites" class="collapse">
            <span>{{fav}}</span>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </section>
</article>

<!-- Modal -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Notice !</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You are about to delete user for good.
        Are you sure ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteUser()">Save changes</button>
      </div>
    </div>
  </div>
</div>




